

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-492055595810030714.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-492055595810030714.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-492055595810030714.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-492055595810030714.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-492055595810030714.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-492055595810030714.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-492055595810030714.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-492055595810030714.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-492055595810030714.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-492055595810030714.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-492055595810030714.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-492055595810030714.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-492055595810030714.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-492055595810030714.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-492055595810030714.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-492055595810030714.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-492055595810030714.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-492055595810030714.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-492055595810030714.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-492055595810030714.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-492055595810030714.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-492055595810030714.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-492055595810030714.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-492055595810030714.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-492055595810030714.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-492055595810030714.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-492055595810030714.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-492055595810030714.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-492055595810030714.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-492055595810030714.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-492055595810030714.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-492055595810030714.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-492055595810030714.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-492055595810030714.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-492055595810030714.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-492055595810030714.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-492055595810030714.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-492055595810030714.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-492055595810030714.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-492055595810030714.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-492055595810030714.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-492055595810030714.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-492055595810030714.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-492055595810030714.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-492055595810030714.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-492055595810030714.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-492055595810030714.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-492055595810030714.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-492055595810030714.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-492055595810030714.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-492055595810030714.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-492055595810030714.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-492055595810030714.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-492055595810030714.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-492055595810030714.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-492055595810030714.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-492055595810030714.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-492055595810030714.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-492055595810030714.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-492055595810030714.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-492055595810030714.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-492055595810030714.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-492055595810030714.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-492055595810030714.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-492055595810030714 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-492055595810030714 .gp-pointer-events-none{pointer-events:none}.gps-492055595810030714 .gp-invisible{visibility:hidden}.gps-492055595810030714 .gp-absolute{position:absolute}.gps-492055595810030714 .gp-relative{position:relative}.gps-492055595810030714 .gp-z-1{z-index:1}.gps-492055595810030714 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-492055595810030714 .gp-mb-0{margin-bottom:0}.gps-492055595810030714 .\!gp-inline{display:inline!important}.gps-492055595810030714 .gp-flex{display:flex}.gps-492055595810030714 .gp-inline-flex{display:inline-flex}.gps-492055595810030714 .gp-grid{display:grid}.gps-492055595810030714 .\!gp-hidden{display:none!important}.gps-492055595810030714 .gp-hidden{display:none}.gps-492055595810030714 .gp-h-5{height:20px}.gps-492055595810030714 .gp-h-full{height:100%}.gps-492055595810030714 .gp-w-5{width:20px}.gps-492055595810030714 .gp-w-full{width:100%}.gps-492055595810030714 .gp-max-w-full{max-width:100%}.gps-492055595810030714 .gp-flex-col{flex-direction:column}.gps-492055595810030714 .gp-items-center{align-items:center}.gps-492055595810030714 .gp-justify-center{justify-content:center}.gps-492055595810030714 .gp-gap-y-0{row-gap:0}.gps-492055595810030714 .gp-overflow-hidden{overflow:hidden}.gps-492055595810030714 .gp-break-words{overflow-wrap:break-word}.gps-492055595810030714 .gp-rounded-none{border-radius:0}.gps-492055595810030714 .gp-bg-g-brand{background-color:var(--g-c-brand)}.gps-492055595810030714 .gp-text-center{text-align:center}.gps-492055595810030714 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-492055595810030714 .gp-no-underline{text-decoration-line:none}.gps-492055595810030714 .gp-opacity-25{opacity:.25}.gps-492055595810030714 .gp-opacity-30{opacity:.3}.gps-492055595810030714 .gp-opacity-75{opacity:.75}.gps-492055595810030714 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492055595810030714 .gp-duration-200{transition-duration:.2s}.gps-492055595810030714 .gp-duration-300{transition-duration:.3s}.gps-492055595810030714 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492055595810030714 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-492055595810030714 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-492055595810030714 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-492055595810030714 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-492055595810030714 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-492055595810030714 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-492055595810030714 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-492055595810030714 .tablet\:\!gp-hidden{display:none!important}.gps-492055595810030714 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-492055595810030714 .mobile\:\!gp-hidden{display:none!important}.gps-492055595810030714 .mobile\:gp-hidden{display:none}}.gps-492055595810030714 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-492055595810030714 .\[\&_p\]\:gp-inline p{display:inline}.gps-492055595810030714 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-492055595810030714 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492055595810030714 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="go6C5vC3NK"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:0px;--pt:60px;--pb:60px;--pt-mobile:20px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--pt-tablet:30px;--pl-tablet:20px;--pb-tablet:20px;--pr-tablet:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#555555;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="go6C5vC3NK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNVP2QBA2q gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gWCPLoVyZM"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#555555;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWCPLoVyZM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQAsqVUimq gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gowTIjaEg9"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:30px;--cg-tablet:20px;--cg-mobile:10px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gowTIjaEg9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gO7RzeOY8Q gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gXBG1ohM69"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXBG1ohM69 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggam1vbjiU gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g2FAPie6jF"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://awolvision.com/cdn/shop/files/19_b7a20796-88bd-49b1-96a7-d34fa1a67cc5_1600x.jpg?v=1699001151" width="1600" height="1600" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1600/1600;--aspect-tablet:1600/1600;--aspect-mobile:1600/1600;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://awolvision.com/cdn/shop/files/19_b7a20796-88bd-49b1-96a7-d34fa1a67cc5_1600x.jpg?v=1699001151" data-srcset="https://awolvision.com/cdn/shop/files/19_b7a20796-88bd-49b1-96a7-d34fa1a67cc5_1600x.jpg?v=1699001151 768w,https://awolvision.com/cdn/shop/files/19_b7a20796-88bd-49b1-96a7-d34fa1a67cc5_1600x.jpg?v=1699001151 1024w,https://awolvision.com/cdn/shop/files/19_b7a20796-88bd-49b1-96a7-d34fa1a67cc5_1600x.jpg?v=1699001151 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1600" height="1600" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1600/1600;--aspect-tablet:1600/1600;--aspect-mobile:1600/1600;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guSPNERRMj gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g76UyssOFk"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g76UyssOFk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ge9Qua3kes gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gYOObs_Arh "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pb:30px;--mb-mobile:0px;--pt-mobile:40px;--pb-mobile:30px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, 'Jost'), var(--g-font-body, body);--weight:400;--ls:0.6px;--size:20px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        ><p><span style="font-size:30px;"><strong>Close Distance, Massive Display: The Ultra-Short Throw Edge</strong></span></p></div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gDo8y8zCHo "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, 'Jost'), var(--g-font-body, body);--weight:400;--ls:0.6px;--size:20px;--size-tablet:16px;--size-mobile:22px;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        ><ul><li>Projects large images from a few inches away.</li><li>Ideal for small apartments and spaces.</li><li>Eliminates shadow interference for uninterrupted viewing.</li><li>Offers flexible placement options in any room.</li><li>Perfect for immersive gaming and home theater setups.<br>&nbsp;</li></ul></div>
      </div>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if '7319902683184' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['ltv-3000-pro-plus-awol-vision-station-100-120-awol-vision-acoustic-alr-floor-rising-screen-bundle']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products
                      if item.id == '7319902683184'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if '7319902683184' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['ltv-3000-pro-plus-awol-vision-station-100-120-awol-vision-acoustic-alr-floor-rising-screen-bundle']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == '7319902683184'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "g9BUKR1Sjh" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="g9BUKR1Sjh" class="" gp-context='{"productId": {{ product.id }}, "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
      
      
    <div
      id="g9BUKR1Sjh"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="g9BUKR1Sjh gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-2-l0eczq gp-relative gp-flex gp-flex-col"
    >
      
   {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      class="gp-product-button"
      gp-data='{"setting":{"actionEffect":"open-cart-drawer","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"Add to cart","outOfStockLabel":"Out of stock","errorType":"built-in","customURL":{"link":"/cart","target":"_self"}},"styles":{"errorTypo":{"type":"paragraph-2"},"successTypo":{"type":"paragraph-2"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}","totalVariant":"{{product.variants.size}}"}' style=""
    >
        
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:left"
    class="{% unless variant.available %} !gp-hidden {% endunless %}"
  >
    <style>
    .gTfgfHrWIC.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      
      
      
      
      
    }

    .gTfgfHrWIC:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }

    .gTfgfHrWIC:hover .gp-button-icon {
      color: undefined;
    }

     .gTfgfHrWIC .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gTfgfHrWIC:hover .gp-button-price {
      color: undefined;
    }

    .gTfgfHrWIC .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gTfgfHrWIC .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gTfgfHrWIC:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="submit" data-id="gTfgfHrWIC" aria-label="Add to cart"
      
      data-state="idle"
      class="gTfgfHrWIC gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-bg-g-brand gp-text-g-text-3 gp-button-atc tcustomizer-submit-button gp-g-paragraph-1"
      style="--hvr-bg:var(--g-c-highlight, highlight);--bg:var(--g-c-brand, brand);--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3)"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
    <div 
    class="gp-inline-flex">
    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden gp-g-paragraph-1
        "
        style=""
      >
        Add to cart
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

        
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:left"
    class="{% if variant.available %} !gp-hidden {% endif %}"
  >
    <style>
    .gTfgfHrWIC-sold-out.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      
      
      
      
      
    }

    .gTfgfHrWIC-sold-out:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }

    .gTfgfHrWIC-sold-out:hover .gp-button-icon {
      color: undefined;
    }

     .gTfgfHrWIC-sold-out .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gTfgfHrWIC-sold-out:hover .gp-button-price {
      color: undefined;
    }

    .gTfgfHrWIC-sold-out .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gTfgfHrWIC-sold-out .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gTfgfHrWIC-sold-out:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="gTfgfHrWIC-sold-out" aria-label="Out of stock"
      
      data-state="idle"
      class="gTfgfHrWIC-sold-out gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-bg-g-brand gp-text-g-text-3 gp-button-sold-out btn-disabled gp-opacity-30 gp-pointer-events-none gp-g-paragraph-1"
      style="--hvr-bg:var(--g-c-highlight, highlight);--bg:var(--g-c-brand, brand);--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3)"
    >
      
    <div 
    class="gp-inline-flex">
    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden gp-g-paragraph-1
        "
        style=""
      >
        Out of stock
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gi6SIMr1j5 gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
  
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7myjJTVBNI4.woff) format('woff');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7mxEIjVBNI4.woff) format('woff');
}
/* cyrillic */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oDd4jQmfxIC7w.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73ord4jQmfxIC7w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oTd4jQmfxI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oDd4jQmfxIC7w.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73ord4jQmfxIC7w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oTd4jQmfxI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-492055595810030714 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/awol-vision/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=492055558715605902&sectionId=492055595810030714)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
