
  
  <style> .gps-497766548593706120 .gp-relative{position:relative}.gps-497766548593706120 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-497766548593706120 .gp-mb-0{margin-bottom:0}.gps-497766548593706120 .\!gp-inline{display:inline!important}.gps-497766548593706120 .gp-flex{display:flex}.gps-497766548593706120 .gp-grid{display:grid}.gps-497766548593706120 .\!gp-hidden{display:none!important}.gps-497766548593706120 .gp-hidden{display:none}.gps-497766548593706120 .gp-h-full{height:100%}.gps-497766548593706120 .gp-w-full{width:100%}.gps-497766548593706120 .gp-max-w-full{max-width:100%}.gps-497766548593706120 .gp-flex-col{flex-direction:column}.gps-497766548593706120 .gp-gap-y-0{row-gap:0}.gps-497766548593706120 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497766548593706120 .gp-duration-200{transition-duration:.2s}.gps-497766548593706120 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-497766548593706120 .tablet\:\!gp-hidden{display:none!important}.gps-497766548593706120 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-497766548593706120 .mobile\:\!gp-hidden{display:none!important}.gps-497766548593706120 .mobile\:gp-hidden{display:none}}.gps-497766548593706120 .\[\&_\*\]\:gp-max-w-full *{max-width:100%} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gLXeYfpZ4A"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--pt:20px;--pb:20px;--pt-mobile:56px;--pb-mobile:56px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#DDDDDD;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLXeYfpZ4A gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gM068mLi02 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g_kNYwXTa9"
        style="--mb:var(--g-s-l);--pl:40px;--pr:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_kNYwXTa9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gBRWa96x_u gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image ghvdU5F2Lj"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:auto;--mb:auto;--mt-mobile:auto;--mb-mobile:var(--g-s-m);--ta:left;--ta-mobile:right"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left;--ta-mobile:right"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "490834883761931106-ecb02c10-1b7c-426e-b834-232d24239dee.png" | asset_url }}" srcset="{{ '490834883761931106-ecb02c10-1b7c-426e-b834-232d24239dee.png' | asset_img_url: '768x768' }} 768w, {{ '490834883761931106-ecb02c10-1b7c-426e-b834-232d24239dee.png' | asset_img_url: '1024x1024' }} 1024w, {{ '490834883761931106-ecb02c10-1b7c-426e-b834-232d24239dee.png' | asset_img_url: 'master' }} 1440w" width="300" height="300" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:300/300;--aspect-tablet:300/300;--aspect-mobile:300/300;--objf:cover;--w:160px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "490834883761931106-ecb02c10-1b7c-426e-b834-232d24239dee.png" | asset_url }}" data-srcset="{{ '490834883761931106-ecb02c10-1b7c-426e-b834-232d24239dee.png' | asset_img_url: '768x768' }} 768w, {{ '490834883761931106-ecb02c10-1b7c-426e-b834-232d24239dee.png' | asset_img_url: '1024x1024' }} 1024w, {{ '490834883761931106-ecb02c10-1b7c-426e-b834-232d24239dee.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="300" height="300" alt="Alt Image"
      sizes="100vw"
      style="--aspect:300/300;--aspect-tablet:300/300;--aspect-mobile:300/300;--objf:cover;--w:160px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gY8CQPw0T- gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gna5HbAb3I"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:auto;--mb:auto;--mt-mobile:auto;--mb-mobile:var(--g-s-m);--ta:left;--ta-mobile:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left;--ta-mobile:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "490834883761931106-9856027c-9099-4a1d-9a71-c2aa3b806038.png" | asset_url }}" srcset="{{ '490834883761931106-9856027c-9099-4a1d-9a71-c2aa3b806038.png' | asset_img_url: '768x768' }} 768w, {{ '490834883761931106-9856027c-9099-4a1d-9a71-c2aa3b806038.png' | asset_img_url: '1024x1024' }} 1024w, {{ '490834883761931106-9856027c-9099-4a1d-9a71-c2aa3b806038.png' | asset_img_url: 'master' }} 1440w" width="260" height="58" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:260/58;--aspect-tablet:260/58;--aspect-mobile:260/58;--objf:cover;--w:160px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "490834883761931106-9856027c-9099-4a1d-9a71-c2aa3b806038.png" | asset_url }}" data-srcset="{{ '490834883761931106-9856027c-9099-4a1d-9a71-c2aa3b806038.png' | asset_img_url: '768x768' }} 768w, {{ '490834883761931106-9856027c-9099-4a1d-9a71-c2aa3b806038.png' | asset_img_url: '1024x1024' }} 1024w, {{ '490834883761931106-9856027c-9099-4a1d-9a71-c2aa3b806038.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="260" height="58" alt="Alt Image"
      sizes="100vw"
      style="--aspect:260/58;--aspect-tablet:260/58;--aspect-mobile:260/58;--objf:cover;--w:160px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g9RqPvYum- gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image guJUTkxAhh"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:auto;--mb:auto;--ta:left;--ta-mobile:right"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left;--ta-mobile:right"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "490834883761931106-0cc56e60-af1b-4655-bcfb-0eb83dd9f8df.png" | asset_url }}" srcset="{{ '490834883761931106-0cc56e60-af1b-4655-bcfb-0eb83dd9f8df.png' | asset_img_url: '768x768' }} 768w, {{ '490834883761931106-0cc56e60-af1b-4655-bcfb-0eb83dd9f8df.png' | asset_img_url: '1024x1024' }} 1024w, {{ '490834883761931106-0cc56e60-af1b-4655-bcfb-0eb83dd9f8df.png' | asset_img_url: 'master' }} 1440w" width="299" height="89" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:299/89;--aspect-tablet:299/89;--aspect-mobile:299/89;--objf:cover;--w:160px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "490834883761931106-0cc56e60-af1b-4655-bcfb-0eb83dd9f8df.png" | asset_url }}" data-srcset="{{ '490834883761931106-0cc56e60-af1b-4655-bcfb-0eb83dd9f8df.png' | asset_img_url: '768x768' }} 768w, {{ '490834883761931106-0cc56e60-af1b-4655-bcfb-0eb83dd9f8df.png' | asset_img_url: '1024x1024' }} 1024w, {{ '490834883761931106-0cc56e60-af1b-4655-bcfb-0eb83dd9f8df.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="299" height="89" alt="Alt Image"
      sizes="100vw"
      style="--aspect:299/89;--aspect-tablet:299/89;--aspect-mobile:299/89;--objf:cover;--w:160px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gL9bpLhEA2 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gsko5Xn8Rl"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:auto;--mb:auto;--ta:left;--ta-mobile:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left;--ta-mobile:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "490834883761931106-393d20dc-5834-41b1-98cd-ce83031902e3.png" | asset_url }}" srcset="{{ '490834883761931106-393d20dc-5834-41b1-98cd-ce83031902e3.png' | asset_img_url: '768x768' }} 768w, {{ '490834883761931106-393d20dc-5834-41b1-98cd-ce83031902e3.png' | asset_img_url: '1024x1024' }} 1024w, {{ '490834883761931106-393d20dc-5834-41b1-98cd-ce83031902e3.png' | asset_img_url: 'master' }} 1440w" width="300" height="300" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:300/300;--aspect-tablet:300/300;--aspect-mobile:300/300;--objf:cover;--w:160px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "490834883761931106-393d20dc-5834-41b1-98cd-ce83031902e3.png" | asset_url }}" data-srcset="{{ '490834883761931106-393d20dc-5834-41b1-98cd-ce83031902e3.png' | asset_img_url: '768x768' }} 768w, {{ '490834883761931106-393d20dc-5834-41b1-98cd-ce83031902e3.png' | asset_img_url: '1024x1024' }} 1024w, {{ '490834883761931106-393d20dc-5834-41b1-98cd-ce83031902e3.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="300" height="300" alt="Alt Image"
      sizes="100vw"
      style="--aspect:300/300;--aspect-tablet:300/300;--aspect-mobile:300/300;--objf:cover;--w:160px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gE56cD2vms gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gAQokazpKD"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:auto;--mb:auto;--ta:left;--ta-mobile:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left;--ta-mobile:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "490834883761931106-950cbea6-b36e-423b-9f5b-6bf6ef7014c8.png" | asset_url }}" srcset="{{ '490834883761931106-950cbea6-b36e-423b-9f5b-6bf6ef7014c8.png' | asset_img_url: '768x768' }} 768w, {{ '490834883761931106-950cbea6-b36e-423b-9f5b-6bf6ef7014c8.png' | asset_img_url: '1024x1024' }} 1024w, {{ '490834883761931106-950cbea6-b36e-423b-9f5b-6bf6ef7014c8.png' | asset_img_url: 'master' }} 1440w" width="356" height="101" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:356/101;--aspect-tablet:356/101;--aspect-mobile:356/101;--objf:cover;--w:160px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "490834883761931106-950cbea6-b36e-423b-9f5b-6bf6ef7014c8.png" | asset_url }}" data-srcset="{{ '490834883761931106-950cbea6-b36e-423b-9f5b-6bf6ef7014c8.png' | asset_img_url: '768x768' }} 768w, {{ '490834883761931106-950cbea6-b36e-423b-9f5b-6bf6ef7014c8.png' | asset_img_url: '1024x1024' }} 1024w, {{ '490834883761931106-950cbea6-b36e-423b-9f5b-6bf6ef7014c8.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="356" height="101" alt="Alt Image"
      sizes="100vw"
      style="--aspect:356/101;--aspect-tablet:356/101;--aspect-mobile:356/101;--objf:cover;--w:160px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 0",
      "tag": "section",
      "class": "gps-497766548593706120 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/awol-vision/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=497729679755576201&sectionId=497766548593706120)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
