
  <style> @import url('https://fonts.googleapis.com/css?family=Open+Sans:700,400,500|Archivo:700|Jost:400,700&display=swap'); </style>
  <style> .gps-497768003077669769 .gp-invisible{visibility:hidden}.gps-497768003077669769 .gp-absolute{position:absolute}.gps-497768003077669769 .gp-relative{position:relative}.gps-497768003077669769 .gp-z-1{z-index:1}.gps-497768003077669769 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-497768003077669769 .gp-mb-0{margin-bottom:0}.gps-497768003077669769 .\!gp-inline{display:inline!important}.gps-497768003077669769 .gp-flex{display:flex}.gps-497768003077669769 .gp-inline-flex{display:inline-flex}.gps-497768003077669769 .gp-grid{display:grid}.gps-497768003077669769 .\!gp-hidden{display:none!important}.gps-497768003077669769 .gp-hidden{display:none}.gps-497768003077669769 .gp-h-5{height:20px}.gps-497768003077669769 .gp-h-full{height:100%}.gps-497768003077669769 .gp-w-5{width:20px}.gps-497768003077669769 .gp-w-full{width:100%}.gps-497768003077669769 .gp-max-w-full{max-width:100%}.gps-497768003077669769 .gp-shrink-0{flex-shrink:0}.gps-497768003077669769 .gp-flex-col{flex-direction:column}.gps-497768003077669769 .gp-items-center{align-items:center}.gps-497768003077669769 .gp-justify-center{justify-content:center}.gps-497768003077669769 .gp-gap-y-0{row-gap:0}.gps-497768003077669769 .gp-overflow-hidden{overflow:hidden}.gps-497768003077669769 .gp-break-words{overflow-wrap:break-word}.gps-497768003077669769 .gp-rounded-none{border-radius:0}.gps-497768003077669769 .gp-text-left{text-align:left}.gps-497768003077669769 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-497768003077669769 .gp-no-underline{text-decoration-line:none}.gps-497768003077669769 .gp-opacity-25{opacity:.25}.gps-497768003077669769 .gp-opacity-75{opacity:.75}.gps-497768003077669769 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497768003077669769 .gp-duration-200{transition-duration:.2s}.gps-497768003077669769 .gp-duration-300{transition-duration:.3s}.gps-497768003077669769 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497768003077669769 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-497768003077669769 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-497768003077669769 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-497768003077669769 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-497768003077669769 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-497768003077669769 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-497768003077669769 .tablet\:\!gp-hidden{display:none!important}.gps-497768003077669769 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-497768003077669769 .mobile\:\!gp-hidden{display:none!important}.gps-497768003077669769 .mobile\:gp-hidden{display:none}}.gps-497768003077669769 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-497768003077669769 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1023px){.gps-497768003077669769 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-497768003077669769 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-497768003077669769 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-497768003077669769 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-497768003077669769 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-497768003077669769 .\[\&_p\]\:gp-inline p{display:inline}.gps-497768003077669769 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-497768003077669769 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-497768003077669769 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gI6ns4Rv7x"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#000000;--bgc-mobile:#000000;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gI6ns4Rv7x gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="g7hbpE2DJK gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g6H7K9Hs0J"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6H7K9Hs0J gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQ-5FXE5vU gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="got9qZAO7g "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--lh:130%;--size:45px;--size-tablet:48px;--size-mobile:35px;--c:#242424;word-break:break-word;overflow:hidden"
        ><p><span style="color:#FFFFFF;font-size:40px;">Enter a New Realm of Gaming Excellence with AWOL Vision</span></p></h2>
      </div>
    </div><div style="" class="gIK8Rryw1q ">
      
    <gp-icon-list
      uid="gIK8Rryw1q"
      gp-data='{"position":{"desktop":"center"},"iconWidth":{"desktop":16,"mobile":22,"tablet":16}}'
       style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-l);--pl-mobile:20px;--pr-mobile:20px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
    >
     
      <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px"
        >
        
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:8px;--ai:left"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:transparent">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:22px"
              >
               <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--ls:0.6px;--lh:180%;--size:18px;--size-tablet:14px;--size-mobile:14px;--c:#121212">
                {{ section.settings.ggIK8Rryw1q_childItem_0 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:8px;--ai:left"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:transparent">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:22px"
              >
               <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--ls:0.6px;--lh:180%;--size:18px;--size-tablet:14px;--size-mobile:14px;--c:#121212">
                {{ section.settings.ggIK8Rryw1q_childItem_1 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:8px;--ai:left"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:transparent">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:22px"
              >
               <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--ls:0.6px;--lh:180%;--size:18px;--size-tablet:14px;--size-mobile:14px;--c:#121212">
                {{ section.settings.ggIK8Rryw1q_childItem_2 }}
            </div>
            </div>
      </div>
    </gp-icon-list>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div style="" class="g94ilTQ-5N ">
      
    <gp-icon-list
      uid="g94ilTQ-5N"
      gp-data='{"position":{"desktop":"center"},"iconWidth":{"desktop":16,"mobile":22,"tablet":16}}'
       style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-l);--pl-mobile:20px;--pr-mobile:20px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
    >
     
      <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px"
        >
        
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:8px;--ai:left"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:transparent">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:22px"
              >
               <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--ls:0.6px;--lh:180%;--size:18px;--size-tablet:14px;--size-mobile:14px;--c:#121212">
                {{ section.settings.gg94ilTQ-5N_childItem_0 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:8px;--ai:left"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:transparent">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:22px"
              >
               <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--ls:0.6px;--lh:180%;--size:18px;--size-tablet:14px;--size-mobile:14px;--c:#121212">
                {{ section.settings.gg94ilTQ-5N_childItem_1 }}
            </div>
            </div>
      </div>
    </gp-icon-list>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    class=""
  >
    <style>
    .gsHLjwEf4R.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gsHLjwEf4R:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gsHLjwEf4R" aria-label="GET IT NOW"
      
      data-state="idle"
      class="gsHLjwEf4R gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#0A2E30;--bg:#A01818;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:var(--g-c-text-3, text-3);--pl:24px;--pr:24px;--pt:14px;--pb:14px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:13px;--pb-mobile:13px;--w:270px;--w-tablet:270px;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--ff:var(--g-font-Archivo, 'Archivo'), var(--g-font-body, body);--weight:700;--ls:normal;--lh:130%;--size:23px;--size-tablet:23px;--size-mobile:17px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggsHLjwEf4R_label }}
      </span>
    </button>
  </div>
  </gp-button>

      
      
    <div
      parentTag="Col" id="gOvpKuxp92"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:30px;--pb:30px;--mb-mobile:0px;--pt-mobile:35px;--pb-mobile:30px;--mb-tablet:0px;--pt-tablet:30px;--pl-tablet:20px;--pb-tablet:30px;--pr-tablet:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOvpKuxp92 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7XZv14Ax5 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gqb15tNIwD "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:10px;--pt:40px;--pb:30px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--ls:normal;--lh:130%;--size:45px;--size-tablet:38px;--size-mobile:30px;--weight:bold;--c:#000000;word-break:break-word;overflow:hidden"
        ><p><span style="font-size:px;">Immerse Yourself in Every Quest</span></p></h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gVA7SszzIK"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:10px;--mb-mobile:0px;--pt-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVA7SszzIK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRMzoRNOZq gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gUKrP8moQ4"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://awolvision.com/cdn/shop/files/4_f2a230ca-98e2-4c79-94dd-25b1f9cd272a.jpg?v=1693904675" srcset="https://awolvision.com/cdn/shop/files/4_f2a230ca-98e2-4c79-94dd-25b1f9cd272a.jpg?v=1693904675 768w,https://awolvision.com/cdn/shop/files/4_f2a230ca-98e2-4c79-94dd-25b1f9cd272a.jpg?v=1693904675 1024w,https://awolvision.com/cdn/shop/files/4_f2a230ca-98e2-4c79-94dd-25b1f9cd272a.jpg?v=1693904675 1440w" width="1600" height="1600" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1600/1600;--aspect-tablet:1600/1600;--aspect-mobile:1600/1600;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://awolvision.com/cdn/shop/files/4_f2a230ca-98e2-4c79-94dd-25b1f9cd272a.jpg?v=1693904675" data-srcset="https://awolvision.com/cdn/shop/files/4_f2a230ca-98e2-4c79-94dd-25b1f9cd272a.jpg?v=1693904675 768w,https://awolvision.com/cdn/shop/files/4_f2a230ca-98e2-4c79-94dd-25b1f9cd272a.jpg?v=1693904675 1024w,https://awolvision.com/cdn/shop/files/4_f2a230ca-98e2-4c79-94dd-25b1f9cd272a.jpg?v=1693904675 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1600" height="1600" alt="Alt image"
      sizes="100vw"
      style="--aspect:1600/1600;--aspect-tablet:1600/1600;--aspect-mobile:1600/1600;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="guLSNqrJuF "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pb:20px;--mb-tablet:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--ls:0.6px;--lh:100%;--size:20px;--size-tablet:25px;--size-mobile:25px;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        ><p><span style="color:#110000;font-size:20px;"><strong>Brilliant visuals, day or night.</strong></span></p></div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gXOAlrD0X1 "
        style="--ta:left;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:20px;--mb-tablet:10px"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, 'Jost'), var(--g-font-body, body);--weight:400;--ls:0.6px;--lh:80%;--size:20px;--size-tablet:18px;--size-mobile:16px;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        ><p><span style="font-size:px;">Convenient Shopping</span></p></div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gr3Vn5Drly gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g4X-N75M0-"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://awolvision.com/cdn/shop/files/3000Pro_e8671dbe-04db-43db-bf70-5b271e6dd4ca_1080x.jpg?v=1700795971" srcset="https://awolvision.com/cdn/shop/files/3000Pro_e8671dbe-04db-43db-bf70-5b271e6dd4ca_1080x.jpg?v=1700795971 768w,https://awolvision.com/cdn/shop/files/3000Pro_e8671dbe-04db-43db-bf70-5b271e6dd4ca_1080x.jpg?v=1700795971 1024w,https://awolvision.com/cdn/shop/files/3000Pro_e8671dbe-04db-43db-bf70-5b271e6dd4ca_1080x.jpg?v=1700795971 1440w" width="1080" height="1080" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1080/1080;--aspect-tablet:1080/1080;--aspect-mobile:1080/1080;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://awolvision.com/cdn/shop/files/3000Pro_e8671dbe-04db-43db-bf70-5b271e6dd4ca_1080x.jpg?v=1700795971" data-srcset="https://awolvision.com/cdn/shop/files/3000Pro_e8671dbe-04db-43db-bf70-5b271e6dd4ca_1080x.jpg?v=1700795971 768w,https://awolvision.com/cdn/shop/files/3000Pro_e8671dbe-04db-43db-bf70-5b271e6dd4ca_1080x.jpg?v=1700795971 1024w,https://awolvision.com/cdn/shop/files/3000Pro_e8671dbe-04db-43db-bf70-5b271e6dd4ca_1080x.jpg?v=1700795971 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1080" height="1080" alt="Alt image"
      sizes="100vw"
      style="--aspect:1080/1080;--aspect-tablet:1080/1080;--aspect-mobile:1080/1080;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gb30b-hhFd "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pb:20px;--mb-tablet:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--ls:0.6px;--lh:100%;--size:20px;--size-tablet:25px;--size-mobile:25px;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        ><p><span style="color:#110000;font-size:20px;"><strong>Effortless screen alignment.</strong></span></p></div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gnjX0LL-vz "
        style="--ta:left;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:20px;--mb-tablet:10px"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, 'Jost'), var(--g-font-body, body);--weight:400;--ls:0.6px;--lh:80%;--size:20px;--size-tablet:18px;--size-mobile:16px;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        ><p><span style="font-size:px;">Nationwide Shipping</span></p></div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmZiV0Sxsr gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g-dE2xxKZz"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://awolvision.com/cdn/shop/files/AWOLVision3000Pro_1800x.jpg?v=1700795971" srcset="https://awolvision.com/cdn/shop/files/AWOLVision3000Pro_1800x.jpg?v=1700795971 768w,https://awolvision.com/cdn/shop/files/AWOLVision3000Pro_1800x.jpg?v=1700795971 1024w,https://awolvision.com/cdn/shop/files/AWOLVision3000Pro_1800x.jpg?v=1700795971 1440w" width="1800" height="1800" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1800/1800;--aspect-tablet:1800/1800;--aspect-mobile:1800/1800;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://awolvision.com/cdn/shop/files/AWOLVision3000Pro_1800x.jpg?v=1700795971" data-srcset="https://awolvision.com/cdn/shop/files/AWOLVision3000Pro_1800x.jpg?v=1700795971 768w,https://awolvision.com/cdn/shop/files/AWOLVision3000Pro_1800x.jpg?v=1700795971 1024w,https://awolvision.com/cdn/shop/files/AWOLVision3000Pro_1800x.jpg?v=1700795971 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1800" height="1800" alt="Alt image"
      sizes="100vw"
      style="--aspect:1800/1800;--aspect-tablet:1800/1800;--aspect-mobile:1800/1800;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gKa9Akw_EG "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pb:20px;--mb-tablet:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--ls:0.6px;--lh:100%;--size:20px;--size-tablet:25px;--size-mobile:25px;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        ><p><span style="color:#110000;font-size:20px;"><strong>Perfect for small gaming dens.</strong></span></p></div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gvfkWsD62q "
        style="--ta:left;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:15px;--mb-tablet:10px"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, 'Jost'), var(--g-font-body, body);--weight:400;--ls:0.6px;--lh:80%;--size:20px;--size-tablet:18px;--size-mobile:16px;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        ><p><span style="font-size:px;">Customer-Centric Approach</span></p></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gNnf3f8JYL gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 6",
      "tag": "section",
      "class": "gps-497768003077669769 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/awol-vision/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=492055606295790478&sectionId=497768003077669769)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
