
  <style> @import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap'); </style>
  <style> .gps-497729679906571145 .gp-absolute{position:absolute}.gps-497729679906571145 .gp-relative{position:relative}.gps-497729679906571145 .gp-inset-0{inset:0}.gps-497729679906571145 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-497729679906571145 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-497729679906571145 .gp-z-1{z-index:1}.gps-497729679906571145 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-497729679906571145 .gp-mb-0{margin-bottom:0}.gps-497729679906571145 .gp-flex{display:flex}.gps-497729679906571145 .gp-grid{display:grid}.gps-497729679906571145 .\!gp-hidden{display:none!important}.gps-497729679906571145 .gp-hidden{display:none}.gps-497729679906571145 .gp-h-full{height:100%}.gps-497729679906571145 .gp-w-full{width:100%}.gps-497729679906571145 .gp-max-w-full{max-width:100%}.gps-497729679906571145 .gp-flex-col{flex-direction:column}.gps-497729679906571145 .gp-items-center{align-items:center}.gps-497729679906571145 .\!gp-justify-center{justify-content:center!important}.gps-497729679906571145 .gp-justify-center{justify-content:center}.gps-497729679906571145 .gp-gap-y-0{row-gap:0}.gps-497729679906571145 .\!gp-self-center{align-self:center!important}.gps-497729679906571145 .gp-self-center{align-self:center}.gps-497729679906571145 .gp-overflow-hidden{overflow:hidden}.gps-497729679906571145 .gp-bg-clip-content{background-clip:content-box}.gps-497729679906571145 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497729679906571145 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497729679906571145 .gp-duration-200{transition-duration:.2s}.gps-497729679906571145 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-497729679906571145 .tablet\:gp-relative{position:relative}.gps-497729679906571145 .tablet\:\!gp-hidden{display:none!important}.gps-497729679906571145 .tablet\:gp-hidden{display:none}.gps-497729679906571145 .tablet\:\!gp-justify-center{justify-content:center!important}.gps-497729679906571145 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-497729679906571145 .mobile\:gp-relative{position:relative}.gps-497729679906571145 .mobile\:\!gp-hidden{display:none!important}.gps-497729679906571145 .mobile\:gp-hidden{display:none}.gps-497729679906571145 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-497729679906571145 .mobile\:\!gp-justify-center{justify-content:center!important}.gps-497729679906571145 .mobile\:\!gp-self-center{align-self:center!important}.gps-497729679906571145 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-497729679906571145 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-497729679906571145 .\[\&_p\]\:gp-inline p{display:inline}.gps-497729679906571145 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-497729679906571145 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gwPd1X_vRY"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwPd1X_vRY gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gVMCyuWfdv gp-relative gp-flex gp-flex-col"
    >
      
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://ucarecdn.com/65b8c9a9-097f-444b-a8e7-ef6c7896571b/-/format/auto/","width":1920,"height":960,"backupFileKey":"490834883761931106-d7f4859c-b2b1-42ea-9b31-b0aeef4c9c82.png"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"https://ucarecdn.com/65b8c9a9-097f-444b-a8e7-ef6c7896571b/-/format/auto/","width":1920,"height":960,"backupFileKey":"490834883761931106-d7f4859c-b2b1-42ea-9b31-b0aeef4c9c82.png"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://ucarecdn.com/65b8c9a9-097f-444b-a8e7-ef6c7896571b/-/format/auto/","width":1920,"height":960,"backupFileKey":"490834883761931106-d7f4859c-b2b1-42ea-9b31-b0aeef4c9c82.png"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false}},"uid":"gMYtuDsZQ3","enableParallax":false,"speedParallax":0.6}'
      
      class="gMYtuDsZQ3 gp-group/hero gp-flex gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
      style="--d:flex;--d-tablet:none;--d-mobile:none;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--h:fit-content;--h-tablet:fit-content;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
    >
      <div
      class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:fit-content;--h-tablet:fit-content;--h-mobile:500px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      elsif section.settings.section_preload == 'global' and section.index == 1
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "490834883761931106-d7f4859c-b2b1-42ea-9b31-b0aeef4c9c82.png" | asset_img_url: 'master' }}" />
        <source media="(max-width: 1023px)" srcset="{{ "490834883761931106-d7f4859c-b2b1-42ea-9b31-b0aeef4c9c82.png" | asset_img_url: 'master' }}" />
        <img
          
          class=""
          src="{{ "490834883761931106-d7f4859c-b2b1-42ea-9b31-b0aeef4c9c82.png" | asset_img_url: 'master' }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1920/960;--aspect-tablet:1920/960;--aspect-mobile:1920/960;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "490834883761931106-d7f4859c-b2b1-42ea-9b31-b0aeef4c9c82.png" | asset_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "490834883761931106-d7f4859c-b2b1-42ea-9b31-b0aeef4c9c82.png" | asset_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <img
        
        class=" gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "490834883761931106-d7f4859c-b2b1-42ea-9b31-b0aeef4c9c82.png" | asset_img_url: 'master' }}"
        alt=""
        style="--aspect:1920/960;--aspect-tablet:1920/960;--aspect-mobile:1920/960;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-w-full gp-h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-transform gp-flex gp-items-center gp-justify-center gp-bg-clip-content"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "490834883761931106-d7f4859c-b2b1-42ea-9b31-b0aeef4c9c82.png" | asset_url }});--bgi-tablet:url({{ "490834883761931106-d7f4859c-b2b1-42ea-9b31-b0aeef4c9c82.png" | asset_url }});--bgi-mobile:url({{ "490834883761931106-d7f4859c-b2b1-42ea-9b31-b0aeef4c9c82.png" | asset_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          
        </div>
        
        
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:100px;--pb:100px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center;--o:0"
      class="gZ1uGbhQWe gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g3H-RPAhf9 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--lh:130%;--size:48px;--size-tablet:48px;--size-mobile:35px;--c:#242424;word-break:break-word;--bgc:rgba(0, 0, 0, 0.4);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p><span style="color:#FFFFFF;font-size:42px;">Experience Every Game &amp; Movie in Stunning 4K</span></p><p><span style="color:#FFFFFF;font-size:30px;">The Best &nbsp;4K 3D RGB Laser Projector</span></p><p>&nbsp;</p><p>&nbsp;</p><p><br>&nbsp;</p></h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gpyQHdOWpE "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--lh:130%;--size:48px;--size-tablet:48px;--size-mobile:35px;--c:#242424;word-break:break-word;overflow:hidden"
        ></h2>
      </div>
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center;--o:1;--d-mobile:none"
      class="gv0EYYYcHN gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
      </div>
    </gp-hero-banner>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://www.projectorcentral.com/images/articles/AWOL_Vision_LTV-3500_lifestyle1.jpg","width":800,"height":495,"backupFileKey":""},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"https://www.projectorcentral.com/images/articles/AWOL_Vision_LTV-3500_lifestyle1.jpg","width":800,"height":495,"backupFileKey":""},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://ae01.alicdn.com/kf/S8ba03750eb56464590556935ea533168Y/Awol-Vision-LTV-2500-3D-4K-Laser-Projector-2000-ANSI-Lumens-Android-HDR10-MEMC-Ultra-Short.jpg","width":1400,"height":1400,"backupFileKey":""},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false}},"uid":"ge6p1DH1z_","enableParallax":false,"speedParallax":0.6}'
      
      class="ge6p1DH1z_ gp-group/hero gp-flex gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
      style="--d:none;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--h:fit-content;--h-tablet:fit-content;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
    >
      <div
      class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:fit-content;--h-tablet:fit-content;--h-mobile:500px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      elsif section.settings.section_preload == 'global' and section.index == 1
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://ae01.alicdn.com/kf/S8ba03750eb56464590556935ea533168Y/Awol-Vision-LTV-2500-3D-4K-Laser-Projector-2000-ANSI-Lumens-Android-HDR10-MEMC-Ultra-Short.jpg" />
        <source media="(max-width: 1023px)" srcset="https://www.projectorcentral.com/images/articles/AWOL_Vision_LTV-3500_lifestyle1.jpg" />
        <img
          
          class=""
          src="https://www.projectorcentral.com/images/articles/AWOL_Vision_LTV-3500_lifestyle1.jpg"
          alt=""
          fetchpriority="high"
          style="--aspect:800/495;--aspect-tablet:800/495;--aspect-mobile:1400/1400;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://ae01.alicdn.com/kf/S8ba03750eb56464590556935ea533168Y/Awol-Vision-LTV-2500-3D-4K-Laser-Projector-2000-ANSI-Lumens-Android-HDR10-MEMC-Ultra-Short.jpg" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://www.projectorcentral.com/images/articles/AWOL_Vision_LTV-3500_lifestyle1.jpg" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <img
        
        class=" gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://www.projectorcentral.com/images/articles/AWOL_Vision_LTV-3500_lifestyle1.jpg"
        alt=""
        style="--aspect:800/495;--aspect-tablet:800/495;--aspect-mobile:1400/1400;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-w-full gp-h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-transform gp-flex gp-items-center gp-justify-center gp-bg-clip-content"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url(https://www.projectorcentral.com/images/articles/AWOL_Vision_LTV-3500_lifestyle1.jpg);--bgi-tablet:url(https://www.projectorcentral.com/images/articles/AWOL_Vision_LTV-3500_lifestyle1.jpg);--bgi-mobile:url(https://ae01.alicdn.com/kf/S8ba03750eb56464590556935ea533168Y/Awol-Vision-LTV-2500-3D-4K-Laser-Projector-2000-ANSI-Lumens-Android-HDR10-MEMC-Ultra-Short.jpg);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          
        </div>
        
        
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:100px;--pb:100px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center;--o:0;--d-mobile:none"
      class="gG3dmLmwIs gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center;--o:1;--d-mobile:none"
      class="g58FpF6FwG gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
      </div>
    </gp-hero-banner>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 3",
      "tag": "section",
      "class": "gps-497729679906571145 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/awol-vision/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=497729679755576201&sectionId=497729679906571145)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
