
  <style> @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap'); </style>
  <style> .gps-492055638793257870 .gp-relative{position:relative}.gps-492055638793257870 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-492055638793257870 .gp-mb-0{margin-bottom:0}.gps-492055638793257870 .\!gp-inline{display:inline!important}.gps-492055638793257870 .gp-flex{display:flex}.gps-492055638793257870 .gp-grid{display:grid}.gps-492055638793257870 .\!gp-hidden{display:none!important}.gps-492055638793257870 .gp-hidden{display:none}.gps-492055638793257870 .gp-h-full{height:100%}.gps-492055638793257870 .gp-w-full{width:100%}.gps-492055638793257870 .gp-max-w-full{max-width:100%}.gps-492055638793257870 .gp-flex-col{flex-direction:column}.gps-492055638793257870 .gp-gap-y-0{row-gap:0}.gps-492055638793257870 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492055638793257870 .gp-duration-200{transition-duration:.2s}.gps-492055638793257870 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-492055638793257870 .tablet\:\!gp-hidden{display:none!important}.gps-492055638793257870 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-492055638793257870 .mobile\:\!gp-hidden{display:none!important}.gps-492055638793257870 .mobile\:gp-hidden{display:none}}.gps-492055638793257870 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-492055638793257870 .\[\&_p\]\:gp-inline p{display:inline}.gps-492055638793257870 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492055638793257870 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="go6C5vC3NK"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:0px;--pt:60px;--pb:60px;--pt-mobile:20px;--pl-mobile:20px;--pb-mobile:40px;--pr-mobile:20px;--pt-tablet:30px;--pl-tablet:20px;--pb-tablet:20px;--pr-tablet:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgba(0, 0, 0, 0.9);--bgc-mobile:#000000;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="go6C5vC3NK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNVP2QBA2q gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gWCPLoVyZM"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgba(221, 221, 221, 0);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWCPLoVyZM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQAsqVUimq gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gowTIjaEg9"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:30px;--cg-tablet:20px;--cg-mobile:10px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#000000;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gowTIjaEg9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gO7RzeOY8Q gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g76UyssOFk"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g76UyssOFk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ge9Qua3kes gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g2FAPie6jF"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      elsif section.settings.section_preload == 'global' and section.index == 1
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "490834883761931106-e7a8ebec-5c62-48eb-9464-b38ef3611780.jpg" | file_url }}" srcset="{{ '490834883761931106-e7a8ebec-5c62-48eb-9464-b38ef3611780.jpg' | file_img_url: '768x768' }} 768w, {{ '490834883761931106-e7a8ebec-5c62-48eb-9464-b38ef3611780.jpg' | file_img_url: '1024x1024' }} 1024w, {{ '490834883761931106-e7a8ebec-5c62-48eb-9464-b38ef3611780.jpg' | file_img_url: 'master' }} 1440w" width="2048" height="1363" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2048/1363;--aspect-tablet:2048/1363;--aspect-mobile:2048/1363;--objf:cover;--w:60%;--w-tablet:100%;--w-mobile:7000%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "490834883761931106-e7a8ebec-5c62-48eb-9464-b38ef3611780.jpg" | file_url }}" data-srcset="{{ '490834883761931106-e7a8ebec-5c62-48eb-9464-b38ef3611780.jpg' | file_img_url: '768x768' }} 768w, {{ '490834883761931106-e7a8ebec-5c62-48eb-9464-b38ef3611780.jpg' | file_img_url: '1024x1024' }} 1024w, {{ '490834883761931106-e7a8ebec-5c62-48eb-9464-b38ef3611780.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2048" height="1363" alt="Alt image"
      sizes="100vw"
      style="--aspect:2048/1363;--aspect-tablet:2048/1363;--aspect-mobile:2048/1363;--objf:cover;--w:60%;--w-tablet:100%;--w-mobile:7000%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gYOObs_Arh "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:50px;--pb:20px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--ls:0.6px;--lh:180%;--size:20px;--size-tablet:16px;--size-mobile:20px;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        ><p><span style="font-size:45px;"><strong>Gaming Ready in Moments</strong></span></p></div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="getMhT5hip"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 6fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="getMhT5hip gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start;--d-mobile:none"
      class="gpOYfhLAOj gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gifOXH761m gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gDo8y8zCHo "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:50px;--pr:50px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--ls:0.6px;--lh:180%;--size:20px;--size-tablet:16px;--size-mobile:20px;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        ><p>Enjoy large images in compact spaces. Eliminates shadows for uninterrupted gaming. Flexible placement for any gaming setup.</p></div>
      </div>
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start;--d-mobile:none"
      class="glqfQtb0wv gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 13",
      "tag": "section",
      "class": "gps-492055638793257870 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/awol-vision/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=492055606295790478&sectionId=492055638793257870)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
